div{
    background-color: blueviolet;
}

nav{
    background-color: blueviolet;
}

.header{
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
    height:100px;
    width: auto;
    border:10px double black;
}

p.title{
    position: relative;
    top: -100px;
    left: 200px;
}

.person{
    float:left;
    border:10px double black;
}

.menu{
    box-sizing: border-box;
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
    border:10px double black;
}

.link{
    background-color:darkviolet;
    text-decoration: violet;
    display: inline-block;
}
.link:link{
    text-decoration:violet;
}
.link:visited{
    text-decoration:violet;
}
.link:hover{
    background-color: violet;
    text-decoration: darkviolet;
}

.aside1{
    position:sticky;
    float:top left;
    width:180px;
    padding:10px;
    margin:10px;
    margin-bottom: -5px;
    margin-right: -5px;
    border:10px double black;
}

.aside2{
    float:left;
    background-color: blueviolet;
    margin:10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width:200px;
    list-style-position: inside;
    border:10px double black;
}
.aside2 li{
    background-color: orchid;
    margin:2px;
    position:relative;
    left:-20px;
}

.aside3{
    float:right;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 5px;
    height:250px;
    width:200px;
    position:relative;
    top:-140px;
    border:10px double black;
}

.main{
    height: 200px;
    width: 60%;
    padding: 10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 240px;
    margin-right: 300px;
    position: relative;
    top: -140px;
    border:10px double black;
}

.footer{
    float:bottom;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
    border:10px double black;
}

p1{
    float:left;
}

icons{
    float:right;
    list-style: none;
    position: relative;
    right:10px;
    bottom: 10%;
}

.sms{
    float:right;
}

.sms:hover{
    filter:grayscale(-100%);
    float: right;
}

.grayscale{
    filter:grayscale(100%);
    width: 30px;
    height:30px;
}