div{
    background-color: blueviolet;
}

nav{
    background-color: blueviolet;
}

.header{
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
}

p.title{
    position: relative;
    top: -100px;
    left: 200px;
}

.person{
    float:left;
    border-style: double;
    border:5px;
    border-color: black;
}

.menu{
    box-sizing: border-box;
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
}

.link{
    background-color:darkviolet;
    text-decoration: violet ;
    display: inline-block;
}

.link:hover{
    background-color: violet;
    text-decoration: darkviolet;
}

.aside1{
    position:sticky;
    float:top left;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width:200px;
}

.aside2{
    float:left;
    background-color: orchid;
    margin:10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width:200px;
    list-style-position: inside;
}
.aside2 li{
    background-color: darkorchid;

}

.aside3{
    float:right;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 200px;
    width:200px;
}

.main{
    height: 200px;
    padding: 10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 220px;
    margin-right: 220px;
}

.footer{
    float:bottom;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
}

div[sms].hover{
    filter:grayscale(0%)
}

.grayscale{
    filter:grayscale(100%)
}