div{
    background-color: blueviolet;
}

.header{
    margin:10px;
    margin-bottom: 5px;
}

p.title{
    position: relative;
    height: 100px;
    width: 200px;
}

.person{
    float:left;
}

.menu{
    box-sizing: border-box;
    margin:10px;
    margin-bottom: 5px;
}

.link{
    background-color:darkviolet;
    display: inline-block;
}

.aside1{
    position:sticky;
    float:top left;
    margin:10px;
    margin-bottom: 5px;
}

.aside2{
    float:left;
    background-color: orchid;
    margin:10px;
    margin-bottom: 5px;
}
.aside2 li{
    background-color: darkorchid;
}

.aside3{
    float:right;
    margin:10px;
    margin-bottom: 5px;
}

.main{
    margin:10px;
    margin-bottom: 5px;
}

.footer{
    float:bottom;
    margin:10px;
    margin-bottom: 5px;
}

div[sms].hover{
    filter:grayscale(0%)
}

.grayscale{
    filter:grayscale(100%)
}