div{
    background-color: blueviolet;
}

nav{
    background-color: blueviolet;
}

.header{
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
    height:120px;
    width: auto;
}

p.title{
    position: relative;
    top: -100px;
    left: 200px;
}

.person{
    float:left;
    border-style: double;
    border:5px;
    border-color: black;
}

.menu{
    box-sizing: border-box;
    margin:10px;
    margin-bottom: 5px;
    padding: 10px;
}

.link{
    background-color:darkviolet;
    text-decoration: violet;
    display: inline-block;
}
.link:link{
    text-decoration:violet;
}
.link:visited{
    text-decoration:violet;
}
.link:hover{
    background-color: violet;
    text-decoration: darkviolet;
}

.aside1{
    position:sticky;
    float:top left;
    padding:10px;
    margin:10px;
    margin-bottom: -5px;
    margin-right: -5px;
}

.aside2{
    float:left;
    background-color: blueviolet;
    margin:10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width:200px;
    list-style-position: inside;
}
.aside2 li{
    background-color: orchid;
    margin:2px;
    position:relative;
    left:-20px;
}

.aside3{
    float:right;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 5px;
    height:400px;
    width:200px;
    position:relative;
    top:-120px;
}

.main{
    height: 200px;
    width: 70%;
    padding: 10px;
    margin:10px;
    margin-bottom: 5px;
    margin-left: 220px;
    margin-right: 230px;
    position: relative;
    top: -120px;
}

.footer{
    float:bottom;
    padding:10px;
    margin:10px;
    margin-bottom: 5px;
}

p1{
    float:left;
}

p2{
    float:right;
}

div[sms].hover{
    filter:grayscale(0%);
    float: right;
    position:relative;
    top:-50px;
}

.grayscale{
    filter:grayscale(100%);
    width: 50px;
    height:50px;
}