div{
    background-color: blueviolet;
}

header{
    margin:30px;
}

title{
    position: relative;
    height: ;
}

header.person{
    float:left;
}

menu{

}

aside1{
    position:sticky;
    float:top left;
}

aside2{
    float:left;
}

aside3{
    float:right;
}

footer{
    float:bottom;
}